/* ==========================================================================
   Float Mixins
   ========================================================================== */

@mixin float-right {
  float: right !important;
}

@mixin float-right {
  float: right !important;
}

@mixin float-none {
  float: none !important;
}
