<!-- start custom footer snippets -->
<div class="wrapper">
 
 <h2 class="footer-heading">{{ site.data.l10n.title | escape }}</h2>
    
         <div class="footer-col-wrapper">
           <div class="footer-col footer-col-1">
             <ul class="contact-list">
               <li class="p-name">
                 {%- if site.author -%}
                   {{ site.author | escape }}
                 {%- else -%}
                   {{ site.data.l10n.title | escape }}
                 {%- endif -%}
                 </li>
<!-- end custom footer snippets -->
